@import "../../scss/_mixins.scss";
@import "../../scss/_vars.scss";

@mixin model-algorithm {
	.root-algorithm {
		@include generic-science-model;
		&.type-mediumbox {
			min-height: 240px;
		}
		&.type-view {
			&.row {
				margin: 0 auto;
			}
		}
		&.type-std {
			border-radius:5px;
		}
		&.type-badge {
			border: 1px solid #bbb;
			background: #fff;
			width: 640px;
			height: 120px;
			padding: .5em;
			font-size: 10pt;
			.description {
				overflow: hidden;
				> * {
					font-size: inherit;
				}
				> h1, > h2, > h3, > h4 {
					font-weight: bold;
				}
			}
		}
		&.type-mini {
			font-size: .9em;
			a {
				> img {
					margin-right: .5em;
				}
			}
		}
		&.type-run_web {
			> .row.primary {
				text-align: center;
			}
			video {
				vertical-align: middle;
				max-width: 100%;
				background-color: #333;
			}
			ol.log-list {
				max-height: 16em;
				overflow: auto;
				font-family: monospace;
				font-size: .75em;
				background: #222;
				color: #fff;
				list-style: none;
				padding: .5em;
				text-align: left;
				resize: horizontal;
				&:hover {
					max-height: 30em;
				}
				> li {
					.time {
						color: cyan;
						@include after("]");
						@include before("[");
					}
				}
			}
			.vtab-inner {
				text-align: left;
			}
			.capture, .capture-video {
				font-size: 2em;
				background: $green;
				color: white;
				border-color: #fff;
			}
			.actions {
				text-align: center;
				margin: 1em auto;
			}
			.root-gen_list {
				li {
					width: 30%;
					display: inline-block;
					margin: .5em .125em;
				}
			}
			.col-response {
				i.icon-refresh {
					font-size: 2em;
					padding: .2em;
					opacity: .5;
				}
			}
		}
	}
}